body{
    background: rosybrown;
}
#form{
    background: darkgray;
    position: absolute;
    width: 200px;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
}

#cont{
    margin: 10px;
    text-align: center;
}
